<template>
  <div id="add-item" class="mt-2 mb-2">
    <div class="container">
      <GoBack></GoBack>
      <h2 class="mt-2 mb-2" style="text-align: center;">Ajouter un article</h2>
      <div v-if="errors.length">
        <ul>
          <div class="alert alert-danger" role="alert">
            <li v-for="error in errors" :key="error">
              {{ error }}
            </li>
          </div>
        </ul>
      </div>
      <div class="row justify-content-center">
        <form>
          <div class="form-group">
            <input
              type="text"
              placeholder="nom de l'article"
              class="form-control"
              v-model="name"
            />
          </div>
          <div class="form-group">
            <input
              type="number"
              class="form-control"
              placeholder="quantité"
              v-model="quantity"
            />
          </div>
          <button @click.prevent="addItem" class="btn btn-info w-100 mt-3">
            Ajouter
          </button>
        </form>
      </div>
    </div>
  </div>
</template>

<script>
import GoBack from "../components/GoBack";
export default {
  name: "AddItem",
  components: { GoBack },
  data: function() {
    return {
      errors: [],
      lists: [],
      name: "",
      quantity: "",
      slug: this.$route.params.slug
    };
  },
  methods: {
    addItem() {
      if (this.checkForm()) {
        return;
      }
      const index = this.lists.findIndex(list => list.slug === this.slug);
      const id = this.lists[index].items.length;
      this.lists[index].items.push({
        id: id,
        name: this.name,
        quantity: this.quantity
      });
      this.name = "";
      this.quantity = "";
      this.saveItem();
      this.$router.push({ name: "ListDetails", params: { slug: this.slug } });
    },
    checkForm: function() {
      this.errors = [];
      if (!this.name) this.errors.push("Le nom est obligatoire.");
      if (!this.quantity) this.errors.push("La quantité est obligatoire");
      if (!this.isInt(this.quantity))
        this.errors.push("La quantité doit être un entier");
      if (!this.errors.length) {
        return false;
      }
      return true;
    },
    isInt: function(value) {
      return (
        !isNaN(value) &&
        (function(x) {
          return (x | 0) === x;
        })(parseFloat(value))
      );
    },
    saveItem() {
      const parsed = JSON.stringify(this.lists);
      localStorage.setItem("lists", parsed);
    }
  },
  mounted() {
    if (localStorage.getItem("lists")) {
      try {
        this.lists = JSON.parse(localStorage.getItem("lists"));
      } catch (e) {
        localStorage.removeItem("lists");
      }
    }
  }
};
</script>

<style scoped>
body {
  width: 960px;
  margin: 45px auto;
  background-color: #6665ee;
}
form {
  width: 330px;
  border-top: 1px dotted #d9d9d9;
  margin: 10px auto;
}
input[type="button"] {
  width: 35px;
}
h4 {
  color: #4c4c4c;
  text-align: center;
}
.container {
  text-align: center;
  width: 50%;
  border-left: 1px solid #d0d0d0;
  background-color: #fff;
  padding-top: 40px;
  padding-bottom: 40px;
  border-radius: 5px;
  margin: 0 auto;
}
</style>
