<template>
  <div id="add-liste" class="mt-5">
    <div class="container">
      <GoBack></GoBack>
      <h2>Ajouter une liste</h2>
      <div v-if="errors.length">
        <ul>
          <div class="alert alert-danger" role="alert">
            <li v-for="error in errors" :key="error">
              {{ error }}
            </li>
          </div>
        </ul>
      </div>
      <div class="row justify-content-center">
        <form>
          <div class="form-group">
            <label for="sel1">Select list:</label>
            <select class="form-control" id="sel1" v-model="boutique">
              <option disabled value="">Choisissez la boutique</option>
              <option value="vp">Vente Privée</option>
              <option value="sp">Showroom Privée</option>
              <option value="bc">Bazar Chic</option>
              <option value="zp">Zalando Privée</option>
            </select>
          </div>
          <div class="form-group">
            <label for="liste">Nom</label>
            <input type="text" class="form-control" id="liste" v-model="name" />
          </div>
          <div class="form-group">
            <label for="liste">Description</label>
            <input
              type="text"
              class="form-control"
              id="description"
              v-model="description"
            />
          </div>
          <button @click.prevent="addListe" class="btn btn-info w-100 mt-3">
            Ajouter
          </button>
        </form>
      </div>
    </div>
  </div>
</template>

<script>
import store from "@/store.js";
import GoBack from "../components/GoBack";
export default {
  name: "AddListe",
  components: { GoBack },
  data: function() {
    return {
      lists: [],
      errors: [],
      slug: "",
      name: "",
      boutique: "",
      description: ""
    };
  },
  methods: {
    addListe() {
      this.slug = this.slugify(this.name);
      if (this.checkForm()) {
        return;
      }
      const img =
        store.itemImages[this.boutique];
      this.lists.push({
        id: this.lists.length,
        image: img,
        name: this.name,
        slug: this.slug,
        date : Date.now(),
        description: this.description,
        items: []
      });
      this.name = "";
      this.description = "";
      this.saveListe();
      this.$router.push({ path: "/listing" });
    },
    saveListe() {
      const parsed = JSON.stringify(this.lists);
      localStorage.setItem("lists", parsed);
    },
    checkForm: function() {
      this.errors = [];
      if (!this.name) this.errors.push("Le nom est obligatoire.");
      if (!this.boutique) this.errors.push("Choississez une boutique.");
      const exists = this.lists.find(list => list.slug === this.slug);
      if (exists) this.errors.push("Cette liste existe déjà, Choississez un autre nom.");
      if (!this.errors.length) {
        return false;
      }
      return true;
    },
    slugify(str) {
      str = str.replace(/^\s+|\s+$/g, "");

      // Make the string lowercase
      str = str.toLowerCase();

      // Remove accents, swap ñ for n, etc
      var from =
        "ÁÄÂÀÃÅČÇĆĎÉĚËÈÊẼĔȆÍÌÎÏŇÑÓÖÒÔÕØŘŔŠŤÚŮÜÙÛÝŸŽáäâàãåčçćďéěëèêẽĕȇíìîïňñóöòôõøðřŕšťúůüùûýÿžþÞĐđßÆa·/_,:;";
      var to =
        "AAAAAACCCDEEEEEEEEIIIINNOOOOOORRSTUUUUUYYZaaaaaacccdeeeeeeeeiiiinnooooooorrstuuuuuyyzbBDdBAa------";
      for (var i = 0, l = from.length; i < l; i++) {
        str = str.replace(new RegExp(from.charAt(i), "g"), to.charAt(i));
      }

      // Remove invalid chars
      str = str
        .replace(/[^a-z0-9 -]/g, "")
        // Collapse whitespace and replace by -
        .replace(/\s+/g, "-")
        // Collapse dashes
        .replace(/-+/g, "-");

      return str;
    }
  },
  mounted() {
    if (localStorage.getItem("lists")) {
      try {
        this.lists = JSON.parse(localStorage.getItem("lists"));
      } catch (e) {
        localStorage.removeItem("lists");
      }
    }
  }
};
</script>

<style scoped>
body {
  width: 960px;
  margin: 45px auto;
  background-color: #6665ee;
}
form {
  width: 330px;
  border-top: 1px dotted #d9d9d9;
  margin: 10px auto;
}
input[type="button"] {
  width: 35px;
}
h4 {
  color: #4c4c4c;
  text-align: center;
}
.container {
  text-align: center;
  width: 50%;
  border-left: 1px solid #d0d0d0;
  background-color: #fff;
  padding-top: 40px;
  padding-bottom: 40px;
  border-radius: 5px;
  margin: 0 auto;
}

ul {
  list-style-type: none;
}
</style>
