<template>
  <div id="home">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-12 mt-3">
          <div class="jumbotron">
            <img
              :src="require('@/assets/ctn.png')"
              width="300px"
              alt="Cartoon"
            />
            <p class="lead">
              Je ne sais pas vous, mais c’est je suis toujours en train de me
              creuser la tête au moment d’aller au marché ou au super marché
              pour ré-écrire ma liste de courses…
            </p>
            <p>
              <router-link class="btn btn-lg btn-success" to="/listing"
                >Mes Listes <i class="fa fa-list" aria-hidden="true"></i></router-link
              >
            </p>
            <!-- Button trigger modal -->
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "Home"
};
</script>

<style scoped></style>
