<template>
  <div class="container mt-2">
    <GoBack></GoBack>
    <div style="text-align: center;">
      <h1>Liste de course</h1>
      <router-link class="btn btn-info my-3 mt-2" :to="{ name: 'AddListe' }">
        Ajouter <i class="fa fa-plus" aria-hidden="true"></i>
      </router-link>
    </div>
    <div v-if="this.lists.length" class="row justify-content-center">
      <div class="liste jumbotron col-md-12 mt-3">
        <div v-for="list in lists" :key="list.id">
          <router-link
            :to="{
              name: 'ListDetails',
              params: { slug: list.slug }
            }"
          >
            <Liste class="mx-auto" :list="list" />
          </router-link>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Liste from "@/components/Liste.vue";
import GoBack from "../components/GoBack";
export default {
  name: "Listing",
  components: { GoBack, Liste },
  data() {
    return {
      destinations: "destinations",
      lists: []
    };
  },
  methods: {
    getListing() {
      return localStorage.getItem("listing");
    }
  },
  mounted() {
    if (localStorage.getItem("lists")) {
      try {
        this.lists = JSON.parse(localStorage.getItem("lists"));
      } catch (e) {
        localStorage.removeItem("lists");
      }
    }
  }
};
</script>

<style scoped>
a {
  text-decoration: none;
}
</style>
