<template>
  <div class="container mt-5">
    <GoBack></GoBack>
    <div style="text-align: center;">
      <h2><i class="fa fa-list" aria-hidden="true"></i> {{ this.slug }}</h2>
      <router-link
        v-if="isHidden"
        v-on:click="isHidden === false"
        class="btn btn-info my-3 mt-2"
        :to="{ name: 'AddItem' }"
      >
        Ajouter un article <i class="fa fa-plus" aria-hidden="true"></i>
      </router-link>
    </div>
    <div>
      <button class="btn btn-danger" @click="clearAll">
        <i class="fa fa-trash"></i> Vider la liste
      </button>
    </div>
    <hr />
    <div v-if="items.length" id="lists-details">
      <div v-for="item in items" :key="item.id">
        <div class="card-body ">
          <div class="row">
            <div class="col-4 align-center">{{ item.name }}</div>
            <div class="col-6 text-left">
              <label class="pb-0">Qté : {{ item.quantity || "0" }}</label>
            </div>
            <div
              class="btn btn-danger col-2 align-center text-center"
              style="cursor: pointer;"
              v-on:click="removeItem(item.id)"
            >
              <i class="fa fa-trash"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div v-else>
      <p class="alert alert-warning mt-2" role="alert">
        Votre liste ne contient aucun article
      </p>
    </div>
  </div>
</template>

<script>
import GoBack from "../components/GoBack";
export default {
  name: "ListesDetails",
  components: { GoBack },
  data: function() {
    return {
      slug: this.$route.params.slug,
      lists: [],
      items: [],
      index: -1,
      isHidden: true
    };
  },
  methods: {
    clearAll() {
      this.lists[this.index].items = [];
    },
    removeItem(id) {
      const item = this.lists[this.index].items;
      const idx = item.findIndex(list => list.id === id);
      this.lists[this.index].items.splice(idx, 1);
    },
    addItem() {}
  },
  mounted() {
    this.lists = JSON.parse(localStorage.getItem("lists")) || [];
    this.index = this.lists.findIndex(list => list.slug === this.slug);
    this.items = this.lists[this.index].items;
  },
  watch: {
    lists: {
      handler() {
        this.items = this.lists[this.index].items;
        localStorage.setItem("lists", JSON.stringify(this.lists));
      },
      deep: true
    }
  }
};
</script>

<style scoped>

</style>
