<template>
  <div>
    <GoBack></GoBack>
    <h1>Not Found</h1>
    <p>
      Oops we couldn't fint that page. Try going
      <router-link :to="{ name: 'Home' }">home</router-link>
    </p>
  </div>
</template>
<script>
import GoBack from "../components/GoBack";
export default {
  components: { GoBack }
};
</script>
