<template>
  <footer class="footer mt-5 fixed-bottom bg-primary">
    <div class="mb-3 text-center">
      <small
        >Copyright &copy; 2020 Aux champs | Made by
        <a href="https://mubuanga.me" target="_blank" alt="Le CV de Arnold"
          >Arnold MUBUANGA YATE</a
        >
      </small>
    </div>
  </footer>
</template>

<script>
export default {
  name: "Footer"
};
</script>

<style scoped>
.footer {
  padding-top: 1.5rem;
  color: #fff;
  border-top: 0.05rem solid #e5e5e5;
}
.flex-grow {
  flex: 1;
}

.bg-primary {
  background-color: #2274a5 !important;
}

a {
  color: #fadf63;
}
</style>
