<template>
  <span class="go-back">
    <button class="btn btn-dark" @click="goback">Retour</button>
  </span>
</template>
<script>
export default {
  components: {},
  methods: {
    goback() {
      return this.$router.go(-1);
    }
  }
};
</script>
<style scoped>
.go-back {
  display: flex;
  cursor: pointer;
}
button {
  border: 0;
}
</style>
