<template>
  <div id="header">
    <nav class="navbar navbar-expand-sm bg-primary navbar-dark">
      <div class="navbar-header ">
        <router-link class="navbar-brand" to="/">Aux champs <i class="fa fa-shopping-cart" style="color:#fff"></i></router-link>
      </div>
      <ul class="navbar-nav ml-auto">
        <li>
          <router-link class="nav-link" to="/listing"><i class="fa fa-list" aria-hidden="true"></i> Mes Listes </router-link>
        </li>
      </ul>
    </nav>
  </div>
</template>

<script>
export default {
  name: "Header"
};
</script>

<style scoped>
.bg-primary {
  background-color: #2274a5 !important;
}
</style>
