<template>
  <div class="card mb-sm-2" style="max-width: 400px;">
    <div class="card-body ">
      <div class="row">
        <div class="col-4 align-center">{{ item.name }}</div>
        <div class="col-6 text-left">
          <label class="pb-0">Qté : {{ item.quantity || "0" }}</label>
        </div>
        <div
          class="btn btn-danger col-2 align-center text-center"
          style="cursor: pointer;"
          v-on:click="removeItemFromList(item.id)"
        >
          X
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "Item",
  props: ["item"],
  methods: {
    removeItemFromList(id) {
      const index = this.lists.findIndex(list => list.id === id);
      this.lists.splice(index, 1);
    }
  }
};
</script>

<style scoped></style>
