<template>
  <div class="card mb-sm-2" style="max-width: 500px;">
    <div class="row no-gutters">
      <div class="col-md-5" style="background: #868e96;">
        <img
          :src="require(`@/assets/listes/${list.image}`)"
          :alt="list.name"
          class="card-img-top h-100"
        />
      </div>
      <div class="col-md-7 bg-light">
        <div class="card-body ">
          <h5 class="card-title mt-2">{{ list.name }}</h5>
          <h6 class="card-subtitle mt-2 mb-2 text-muted">
            {{ list.description || "Pas de description" }}
          </h6>
          <div class="card-text mt-2">
            {{ list.items.length }}
            <span v-if="list.items.length > 1">Articles</span
            ><span v-else>Article</span> <i class="fa fa-shopping-cart"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "Liste",
  props: ["list"]
};
</script>

<style scoped>
.card-body {
  color: #2274A5;
}
</style>
